.auto_timer {
  padding: 25px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time_set {
  display: flex;
  justify-content: space-around;
}

.time_set span {
  line-height: 18px;
  font-size: 18px;
}
