.options_container {
  height: auto;
  overflow: hidden;
}

.options {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.options .delimiter {
  width: 1px;
  height: 20px;
  background-color: var(--color);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.options button {
  width: 50%;
  padding: 10px;
  text-align: center;
  background-color: transparent;
  font-size: 16px;
  transition: all 0.2s linear;
}

.options button:hover {
  background-color: var(--bg-main-light);
  color: var(--orange);
}

.options button.active {
  color: var(--orange);
}

.timers_slider {
  display: flex;
  position: relative;
  right: 0%;
  transition: all 0.4s ease;
}

.timers_slider.slide {
  right: 100%;
}

.timer_container {
  min-width: 100%;
}
