.outer_circle,
.inner_circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-main-light);
}

.outer_circle {
  position: relative;
  box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, 0.5);
}

/* .outer_circle svg {
  position: absolute;
} */

.inner_circle {
  background-color: var(--bg-main);
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.5),
    -0.5px -0.5px 0px rgba(255, 255, 255, 0.1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.5), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
