:root {
  --bg-main: #f5f2eb;
  --bg-main-light: #fff;
  --color: #212121;
  --gray-100: #808080;
  --gray-dark: #4a4a4a;
  --black: #000000;
  --orange: orange;
  --shadow: rgba(0, 0, 0, 0.5);
}

html {
  border-radius: 4px;
  width: 100vw;
  height: 100vh;
  background-color: #a5b6c4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 360px;
  margin: 0 auto;
  color: var(--color);
}

body.dark {
  --bg-main: #212121;
  --bg-main-light: #303030;
  --color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  background-color: var(--bg-main);
  color: var(--color);
}

input {
  border: none;
  background-color: var(--bg-main-light);
  color: var(--color);
  outline: none;
  padding: 5px;
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}
